apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: server
  name: server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server-containter
        image: docker.io/agileguru/graalvmcloudnativeserver:main
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            port: 8080
            path: /server/actuator/health
          initialDelaySeconds: 2  
        readinessProbe:
          httpGet:
            port: 8080
            path: /server/actuator/health
          initialDelaySeconds: 2  
        startupProbe:
          httpGet:
            port: 8080
            path: /server/actuator/health
          initialDelaySeconds: 30
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"    
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: server
  name: server-service
spec:
  type: NodePort
  ports:
  - name: webport
    port: 8080
    targetPort: 8080
  selector:
    app: server    