apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: client
    version: v1
  name: client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
      version: v1
  template:
    metadata:
      labels:
        app: client
        version: v1
    spec:
      containers:
      - name: client-containter
        image: docker.io/agileguru/graalvmcloudnativeclient:main
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: client-config
        livenessProbe:
          httpGet:
            port: 8888
            path: /actuator/health
          initialDelaySeconds: 2  
        readinessProbe:
          httpGet:
            port: 8888
            path: /actuator/health
          initialDelaySeconds: 2  
        startupProbe:
          httpGet:
            port: 8888
            path: /actuator/health
          initialDelaySeconds: 30
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"    
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: client
  name: client-service
spec:
  type: NodePort
  ports:
  - name: webport
    port: 8888
    targetPort: 8888
  selector:
    app: client    